<% include partials/header %>



<div class="container mt-3">
	<header class="jumbotron"> 
		<div class="container">
			<h1> Places</h1>
			<p> Something about the places </p>

			<p>
				<a class="btn btn-primary btn-lrg" href="/places/new">Add new place</a>
			</p>
		</div>
	</header>

	<div class="row" style="display:flex; flex-wrap: wrap;">
		
		<% places.forEach(function(places){ %>
		<div class="col-md-4 col-sm-6">
			<div class="card"">
				<div class="card-img-top">
					<a href="/places/<%= places.id %>"><img src="<%= places.image %>" width="100%"></a>
				</div>
				<div class="card-body">
					<p class="card-text"><%= places.name %></p>
				</div>
			</div>
		</div>
		<% }); %>
			
	
	</div>

</dov>

<% include partials/footer %>